# Env files
.env
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Distribution
build/
dist/
*.egg-info/

# IDE / OS
.vscode/
.idea/
.DS_Store